.my-cv-data-illustation-container {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.my-cv-data-illustation {
    width: 100%;
    max-width: 280px;
}

.organization-logo {
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.organization-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: -13px;
}