.section-container {
    padding-top: 0px;
}

.verification-symbol-legend {
    margin-top: 40px;
}

.verification-symbol-legend app-validation-symbol {
    margin-right: 4px;
}

.verification-symbol-legend ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.verification-symbol-legend li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.verification-symbol-legend li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}