<a href="javascript:void(0);" class="hidden-focus" ngbAutofocus></a>
<div class="modal-header">
	<h2 *ngIf="data.title">{{data.title}}</h2>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancel()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body">
	<p *ngIf="data.message">
		{{data.message}}
	</p>
	<form #valueForm="ngForm">
		<p>
			<input required name="value" id="value" #value="ngModel" class="form-control" [type]="data.type"
				[(ngModel)]="data.stringValue" selectAllOnFocus>
			<span *ngIf="errorMessage" class="errorMessage">
				{{errorMessage}}
			</span>
		</p>
	</form>
	<p *ngIf="data.message2">
		{{data.message2}}
	</p>
</div>

<div class="modal-footer" (keyup.enter)="onConfirm()">
	<button (click)="onConfirm()" class="btn btn-primary right">
		{{data.confirmLabel}}
	</button>
	<button *ngIf="data.dismissLabel" (click)="onCancel()" class="btn btn-primary left">
		{{data.dismissLabel}}
	</button>
</div>