<div class="profile-display" tabindex="isEditable?0:-1" (click)="onEdit()" (keydown.enter)="onEdit()"
  [class.editMode]="isEditable===true">
  <!-- <button class="btn edit-button inline" ><i class="fas fa-pen"></i></button> -->
  <div class="profile-columns">
    <div class="profile-image" [ngStyle]="{'background-image': 'url(' + (data.photo) + ')'}"></div>
    <div class="profile-content-container">
      <div class="vertical-centered">
        <h2>{{data.name}}</h2>
        <p class="comma-separated">
          <span *ngIf="this.data.title" class="title-text title keep-together">{{data.title}}</span>
          <span *ngIf="this.data.birthdate" class="age-text keep-together">{{getAge()}}</span>
          <span *ngIf="data.location.city" class="location-text keep-together">{{data.location.city}}</span>
        </p>
      </div>
    </div>
  </div>


  <div class="profile-summary-container" *ngIf="isEditable === true || data.summary">
    <hr class="hidden">
    <div class="list-header">
      <h4 tabindex="0">About me</h4>
    </div>
    <p *ngIf="data.summary">{{data.summary}}</p>
    <p *ngIf="!data.summary" class="empty-section-comment">Here you can add a personal bio, if you want.</p>
  </div>
</div>