.profile-columns {
  display: flex;
}

.profile-display::after {
  content: "";
  display: table;
  clear: both;
}

.profile-image {
  min-width: 125px;
  width: 125px;
  min-height: 125px;
  height: 125px;
  margin-right: 20px;
  background-color: #039be5;
  display: block;
  border-radius: 100px;
  background-size: cover;
  background-position: center;
  float: left;
}

.profile-content-container {
  align-self: center;
}

@media (max-width: 400px) {
  .profile-image {
    min-width: 90px;
    min-height: 90px;
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 400px) {
  .profile-content-container {
    margin-right: 10px;
  }
}