<section class="main-section">
  <div class="section-container">
    <h2>My Digital Backpack privacy policy</h2>
    <p>
      My Digital Backpack allows it's users to create an experience profile that they can share online with other
      people.
    </p>
    <p>
      The profiles includes personal data:
    </p>
    <ul>
      <li>
        that the user has supplied explicitly including for example name, title, location, birthdate as well as
        work/education experience
      </li>
      <li>
        that the user has explicitly allowed My Digital Backpack to access from other platforms, for
        example reputation data from a gig platform.
      </li>
      <li>
        that the user has explicitly allowed My Digital Backpack to access by connecting to a third party data provider,
        for example we are currently using the service My CV Data.
      </li>
    </ul>
    <p>
      The profiles can be shared online by sharing a link, this means that anyone with access to the link will be able
      to see the data. The user should consider any data they upload on their profile as publically available.
    </p>
    <p>
      My Digital Backpack needs to store all profile data to be able to share profiles. The data will be removed shortly
      after a user removes their profile.
    </p>
    <p>
      In addition to the data the user has explicitly supplied, My Digital Backpack also collects tracking data,
      used to improve the service. This is done using a third party service, currently Google Analytics.</p>
    <p>
      Users can contact <a href="mailto:info@mycognitionmatters.org">info@mycognitionmatters.org</a> if they want to
      access
      or delete their data.
    </p>
    <p>
      My Digital Backpack will occasionally update this privacy policy information, and will then inform all existing
      users
      through email.
    </p>
  </div>
</section>